@tailwind base;
@tailwind components;
@tailwind utilities;

.add-desktop-bg-image {
  background-image: url("../public/assets/images/bg-sidebar-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-mobile-bg-image {
  background-image: url("../public/assets/images/bg-sidebar-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.styled-button {
  @apply bg-primary px-7 py-4 rounded-full text-gray-200 font-bold hover:scale-105 transition-all hover:border-primary border border-primary hover:bg-gray-200 hover:text-primary
}